.bn-wrapper{
    background-color: lightgreen;
    height:500px;
    position: relative;
    margin-top: 57px;
}

.bn-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner-caption{
    position: absolute;
    top: 185px;
    left: 7%;
    font-size: 3em;
}